.form-signin {
    margin-top:30%;
}

.inp-size {
    font-size: 20px;
    padding: 20px;
}

.float-right {
    color: rgb(37,154,53);
}

.control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    
  }

input.ng-touched.ng-invalid {border:solid red 2px;}