<div class="container">
    <div class="row">
      <div class="col-sm">
        
      </div>
      <div class="col-sm">
        <div class="card">
            <article class="card-body">
            <h4 class="card-title mb-4 mt-1">Sign up</h4>
                <form [formGroup]="regForms" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Your email</label>
                        <input name="" class="form-control" placeholder="Email" type="email" formControlName = "inpMail">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <label>Your login</label>
                        <input name="" class="form-control" placeholder="Login" type="login" formControlName = "inpLogin">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <label>Your password</label>
                        <input class="form-control" placeholder="Password" type="password" formControlName = "inpPassword">
                    </div> <!-- form-group// --> 
                    <div class="form-group">
                        <label>Confirm password</label>
                        <input class="form-control" placeholder="Confirm password" type="password">
                    </div> <!-- form-group// --> 
                    <div class="form-group"> 
                    <div class="checkbox">
                    <label> <input type="checkbox"> Save password </label>
                    </div> <!-- checkbox .// -->
                    </div> <!-- form-group// -->  
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block"> Login  </button>
                    </div> <!-- form-group// -->                                                           
                </form>
                {{ inpLogin }}
            </article>
        </div>
      </div>
      <div class="col-sm">
        
      </div>
    </div>
  </div>