
.testList {
    list-style-type: none;
    width: 250px;
    
}

.testList li {
    position: relative;
    background: rgb(37,154,53);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color:white;
    text-align: center;
}
.testList li:hover {
    background: green;
    left: 2px;
}