<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 newbg mb-3 border-bottom shadow-sm">
    <a class="btn btn-outline-light" href="#">Menu </a>
    <h5 class="p-2 my-0 mr-md-auto font-weight-normal">Distance Learning</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-white" [routerLink] = '["app-test-menu"]'>Tests</a>
      <a class="p-2 text-white" [routerLink] = '["app-settings-menu"]'>Settings</a>
      
    </nav>
    <a class="btn btn-outline-light" [routerLink] = '["login"]'(click)="logout()">Log out</a>
    <a class="btn btn-outline-light" [routerLink] = '["sign-up"]'>Sign up</a>
  </div>