<table class="table" *ngIf="testData">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Имя теста</th>
        
        <th scope="col">Редактирование</th>
        <th scope="col">Обзор теста</th>
        <th scope="col">Удалить</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let data of testData">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
       
        <td><button class="btn-al btn btn-success" [routerLink]='["app-edit-menu", data.id]'>Редактировать</button></td>
        <td><button class="btn-al btn btn-success" >Посмотреть</button></td>
        <td><button class="btn-al btn btn-danger" (click) = "deleteTest(data.id)">Удалить</button></td>
      </tr>
      <tr>
          <td class="addTestClass" colspan="5" (click)="addNewTest()">Добавить новый тест</td>
      </tr>
    </tbody>
  </table>
